.DS_Store
Thumbs.db
CLAUDE.md
/input-cache
/output
/temp
/template
/fsh-generated/fsh-index.json
/fsh-generated/fsh-index.txt

.history
node_modules
validation.html
validator_cli.jar

_build.bat
_build.sh
