.DS_Store
.claude
Thumbs.db
CLAUDE.md
/input-cache
/output
/temp
/template
/fsh-generated/data/fsh-index.json
/fsh-generated/fsh-index.txt
/fsh-generated/includes* 

.history
node_modules
validation.html
validator_cli.jar

_build.bat
_build.sh
